/AndroidStudioProject/PhoneMonitor/*.iml
7AndroidStudioProject/PhoneMonitor/local.properties
/AndroidStudioProject/PhoneMonitor/.DS_Store
/AndroidStudioProject/PhoneMonitor/captures
/AndroidStudioProject/PhoneMonitor/.externalNativeBuild
/AndroidStudioProject/PhoneMonitor/app/build
/AndroidStudioProject/PhoneMonitor/.gradle
/AndroidStudioProject/PhoneMonitor/.idea
