*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
AndroidStudioProject/PhoneMonitor/app/build/
AndroidStudioProject/PhoneMonitor/.gradle
AndroidStudioProject/PhoneMonitor/.idea
